/* 預設的樣式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFE7B7;
    color: #B3811C;
}

.navbar {
    background-color: #F9C765;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* 導覽列內容 */
.navbar .site-name {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    color: #B3811C;
}

.navbar .nav-links {
    display: flex;
    gap: 15px;
    margin: 0 auto;
}

.navbar a {
    color: #B3811C;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #f9e4ba;
    border-radius: 5px;
}

/* 手機版的菜單按鈕 */
.menu-toggle {
    display: none;
    font-size: 30px;
    color: #B3811C;
    cursor: pointer;
    margin-right: 20px;
}

/* 用戶資訊區 */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.user-info .username {
    font-size: 18px;
    color: #B3811C;
    font-weight: bold;
}

.user-info .settings-icon {
    width: 20px;
    height: 20px;
    background-image: url('../imgs/settings.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0%;
    cursor: pointer;
}

/* 手機版RWD，當螢幕小於768px時，隱藏原本的菜單，顯示漢堡選單 */
@media screen and (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #F9C765;
        padding: 10px;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links a {
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }

    .dropdown-content {
        position: relative;
        display: block;
    }
}

.show {
    display: block;
}
