<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>廚師註冊基本資料填寫</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ChefRegister2.css') }}">
</head>

<body>
    <div class="left-section"></div>
    <div class="right-section">
        <div class="form-container">
            <h2>請輸入基本資料</h2>

            <!-- 服務地區 多選 Checkbox 兩排排列 -->
            <label class="main">服務地區</label>
            <div class="checkbox-group">
                <div><input type="checkbox" id="taipei" value="台北市"> <label for="taipei">台北市</label></div>
                <div><input type="checkbox" id="newtaipei" value="新北市"> <label for="newtaipei">新北市</label></div>
                <div><input type="checkbox" id="taoyuan" value="桃園市"> <label for="taoyuan">桃園市</label></div>
                <div><input type="checkbox" id="taichung" value="台中市"> <label for="taichung">台中市</label></div>
                <div><input type="checkbox" id="tainan" value="台南市"> <label for="tainan">台南市</label></div>
                <div><input type="checkbox" id="kaohsiung" value="高雄市"> <label for="kaohsiung">高雄市</label></div>
                <div><input type="checkbox" id="kaohsiung" value="基隆市"> <label for="kaohsiung">基隆市</label></div>
                <div><input type="checkbox" id="kaohsiung" value="新竹市"> <label for="kaohsiung">新竹市</label></div>
                <div><input type="checkbox" id="kaohsiung" value="嘉義市"> <label for="kaohsiung">嘉義市</label></div>
                <div><input type="checkbox" id="kaohsiung" value="宜蘭縣"> <label for="kaohsiung">宜蘭縣</label></div>
            </div>

            <!-- 廚師證照登記 上傳檔案 -->
            <label class="main" for="certificate">廚師證照登記</label>
            <input type="file" id="certificate" accept="image/*, .pdf">

            <!-- 擅長領域 多選 Checkbox -->
            <label class="main">擅長領域</label>
            <div class="checkbox-group">
                <div><input type="checkbox" id="chinese" value="中式料理"> <label for="chinese">中式料理</label></div>
                <div><input type="checkbox" id="western" value="西式料理"> <label for="western">西式料理</label></div>
                <div><input type="checkbox" id="western" value="日式料理"> <label for="western">日式料理</label></div>
                <div><input type="checkbox" id="western" value="韓式料理"> <label for="western">韓式料理</label></div>
                <div><input type="checkbox" id="western" value="東南亞料理"> <label for="western">東南亞料理</label></div>
                <div><input type="checkbox" id="western" value="南亞料理"> <label for="western">南亞料理</label></div>

            </div>

            <!-- 廚房地址 -->
            <label class="main" for="kitchen-address">廚房地址</label>
            <input type="text" id="kitchen-address" placeholder="請輸入廚房地址" required>

            <button onclick="window.location.href='/ChefMain'">繼續</button>
        </div>
    </div>
</body>

</html>